MQTT/MQTT Example Projects/Node-Red/MQTT_Comms_NR.json
[
    {
        "id": "54fd09f42eeda60f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8de51b8da8d8691f",
        "type": "mqtt in",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "8dbb6511f0ee6499",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "7d0526ded899bbf0"
            ]
        ]
    },
    {
        "id": "7d0526ded899bbf0",
        "type": "debug",
        "z": "54fd09f42eeda60f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "c19eb6a07b1493ab",
        "type": "mqtt out",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "Topic/subtopic",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dbb6511f0ee6499",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "58c2cd6e129a6e8a",
        "type": "inject",
        "z": "54fd09f42eeda60f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "c19eb6a07b1493ab"
            ]
        ]
    },
    {
        "id": "4668e6ba224bb895",
        "type": "inject",
        "z": "54fd09f42eeda60f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello_World",
        "payloadType": "str",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "b5466a5dbe6def16"
            ]
        ]
    },
    {
        "id": "b5466a5dbe6def16",
        "type": "mqtt out",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "Other_Topic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dbb6511f0ee6499",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "e624cd46505dda6c",
        "type": "mqtt out",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "Topic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dbb6511f0ee6499",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "ac1c4f549af1ae04",
        "type": "inject",
        "z": "54fd09f42eeda60f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "e624cd46505dda6c"
            ]
        ]
    },
    {
        "id": "1196fa040861069f",
        "type": "inject",
        "z": "54fd09f42eeda60f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"HVAC\":{\"Zone\":{\"Heatpump\":{\"Status\":true}}}}",
        "payloadType": "json",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "fbf7972049b705fb"
            ]
        ]
    },
    {
        "id": "fbf7972049b705fb",
        "type": "mqtt out",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "HVAC/Zone/Heatpump/Status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dbb6511f0ee6499",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "92b885164eec6921",
        "type": "comment",
        "z": "54fd09f42eeda60f",
        "name": "Publish",
        "info": "Publishing Various Data types to different topics",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5b6d43fcea035b8",
        "type": "comment",
        "z": "54fd09f42eeda60f",
        "name": "Subscribe",
        "info": "Subscribe to Different MQTT topics.\nWild card and various other topics",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "63d33a17cec1ea63",
        "type": "debug",
        "z": "54fd09f42eeda60f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "95e6deb3be18a3d6",
        "type": "mqtt in",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "topic",
        "qos": "2",
        "datatype": "json",
        "broker": "8dbb6511f0ee6499",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "63d33a17cec1ea63"
            ]
        ]
    },
    {
        "id": "2dda828ea5c6929f",
        "type": "mqtt in",
        "z": "54fd09f42eeda60f",
        "name": "",
        "topic": "HVAC/Zone/Heatpump/Status",
        "qos": "2",
        "datatype": "json",
        "broker": "8dbb6511f0ee6499",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 880,
        "wires": [
            [
                "8fe77fc6fbbede49"
            ]
        ]
    },
    {
        "id": "8fe77fc6fbbede49",
        "type": "debug",
        "z": "54fd09f42eeda60f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 880,
        "wires": []
    },
    {
        "id": "8dbb6511f0ee6499",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.35",
        "port": "1883",
        "tls": "b9968d6da747a37e",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9968d6da747a37e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]